<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% now = DateTime.new.strftime("%A, %B %e, %Y") %>
    <%= now %>
  </body>
</html>
